<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bodtec.libs.push">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />

    <application>
        <meta-data
            android:name="com.alibaba.app.appkey"
            android:value="25893456" />
        <meta-data
            android:name="com.alibaba.app.appsecret"
            android:value="bbf0f540e8868f2ae1fbac66650eb5ed" />
        <meta-data
            android:name="com.huawei.hms.client.appid"
            android:value="100726517" />

        <activity
            android:name="com.bodtec.libs.push.com.bodtec.module.push.act.AliPushPopupAct"
            android:exported="true"
            android:screenOrientation="portrait" />

        <receiver
            android:name="com.bodtec.libs.push.com.bodtec.module.push.receiver.AliPushReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_OPENED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_REMOVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.sdk.android.push.RECEIVE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>